In [ ]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

In [11]:
emp_info={"Tom":{'email':'tom_latham019@gmail.com','Phone': +1987654321, 'City': 'California'},"Kathy":{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}
print(emp_info['Tom'])
print()
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}

{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [ ]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

In [13]:
d={'emp1':{'e_name':'John','e_id':'SG101','e_sal':'$10,000'},'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':'$9,000'},'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':'$9,500'}}
print(d)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [15]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [20]:
sampleDict["class"]["student"]['marks']['history']

80

In [ ]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

In [21]:
d={}
new_d=d.fromkeys(['Kelly', 'Emma', 'John'],{"designation": 'Application Developer', "salary": 8000})
print(new_d)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [ ]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

In [145]:
def mrna_From_dna(x,y):
    d=dict(zip(('A','T','C','G'),('U','A','G','C')))
    return d
mrna_From_dna(('A','C','G','T'),('U','A','G','C'))

{'A': 'U', 'T': 'A', 'C': 'G', 'G': 'C'}

In [137]:
d=dict(zip(('A','T','C','G'),('U','A','G','C')))
print(d)

{'A': 'U', 'T': 'A', 'C': 'G', 'G': 'C'}

In [ ]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [26]:
def count_letter(x):
    d={}
    for i in x: 
        if i in d:
            d[i] = d[i] + 1
        else: 
            d[i] = 1
    return d
count_letter('google.com')

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

In [128]:
def count_letter(x):
    d={'A':0,'C':0,'T':0,'G':0}
    for i in x: 
        if i in d:
            d[i] = d[i] + 1
        else: 
            d[i] = 1
    return d
count_letter("CTATCGGCACCCTTTCAGCA")

{'A': 4, 'C': 8, 'T': 5, 'G': 3}

In [127]:
def count_letter(x):
    d={'A':0,'C':0,'T':0,'G':0}
    for i in x: 
        if i in d:
            d[i] = d[i] + 1
        else: 
            d[i] = 1
    return d
count_letter("AGT")

{'A': 1, 'C': 0, 'T': 1, 'G': 1}

In [ ]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

In [7]:

5. None of the above.

{'Name': 'Tom'} <class 'dict'>

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

In [8]:
d = {"a":1, "b":2}
d.values()
# Answer is statement 2

dict_values([1, 2])

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

In [1]:
3. d = { ["First", "Last"]: (1,3) }

In [ ]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

In [102]:
def reverseLookup(a,b):
    lst_key=[]    
    for key,value in a.items():
        if value==b:
            lst_key.append(key)
    return lst_key
reverseLookup({'a':1, 'b':2, 'c':2}, 1)

['a']

In [103]:
reverseLookup({'a':1, 'b':2, 'c':2}, 2)

['b', 'c']

In [104]:
reverseLookup({'a':1, 'b':2, 'c':2}, 3)

[]

In [ ]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [121]:
def invertDictionary(d):
    m={}
    for key,value in d.items():
        if value not in m:
            m[value]=[key]
        else:
            m[value].append(key)
    return m
invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})

{1: ['a'], 2: ['b', 'd'], 3: ['c']}

In [122]:
invertDictionary({'a':3, 'b':3, 'c':3})

{3: ['a', 'b', 'c']}

In [123]:
invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})

{2: ['a', 'c'], 1: ['b', 'd']}

In [ ]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

In [39]:
def convertVector(x):
    d1={}
    for i,v in enumerate(x):   # 'i' is index and 'v' is character
        if v!=0:
            d1.update({i:v})
        else:
            continue   
    return d1
convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])

{0: 1, 3: 2, 7: 3, 12: 4}

In [40]:
convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])

{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}

In [41]:
convertVector([0,0,0,0,0])

{}

In [ ]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

In [75]:
def convertDictionary(x):
    if x!={}:
        lst=[0]
        lst=lst*(max(list(x.keys()))+1)
        for i,v in x.items():
            lst[i]=v
    else:
        lst=[]
    return lst
convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]

In [76]:
convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})

[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]

In [77]:
convertDictionary({})

[]

In [ ]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

In [29]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary']=8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

In [32]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
inp_marks=eval(input("Enter marks of a subject: "))
for subject,marks in sampleDict.items():
    if marks==inp_marks:
        print(subject)

Enter marks of a subject: 65
Math

In [ ]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

In [16]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sampleDict['Location']=sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [ ]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

In [13]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
200 in sampleDict.values()

True

In [ ]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

In [11]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
sampleDict.pop("name")
sampleDict.pop("salary")
print(sampleDict)

{'age': 25, 'city': 'New york'}